<!doctype html>
<html>
<head>
	<title> Meadowlark Travel</title>
</head>
<body>
<header><img src="logo.svg" alt="Point Park Logo" width="200"></header>
{{{body}}}
<br></br>
<footer>This was created by Katherine Sullivan. </footer>
</body>
</html>
